# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis, ascending=True)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - column 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [2]:
import pandas as pd

df = pd.read_csv('saved_data/movie.csv',index_col='movie_title') #index_col을 하는 것을 잊지 말자!

In [7]:
df.sort_index() #오름차순정렬이다.
#(1)과 같이 적으면 정렬 기준을 바꿀 수 있다.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0

In [10]:
#컬럼 이름을 기준으로 정렬----위의 것과의 차이점을 느껴라.

df.sort_index(axis=1)
df.sort_index(axis='columns')

,actor_1_facebook_likes,actor_1_name,actor_2_facebook_likes,actor_2_name,actor_3_facebook_likes,actor_3_name,aspect_ratio,budget,cast_total_facebook_likes,color,...,gross,imdb_score,language,movie_facebook_likes,movie_imdb_link,num_critic_for_reviews,num_user_for_reviews,num_voted_users,plot_keywords,title_year
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,1000.0,CCH Pounder,936.0,Joel David Moore,855.0,Wes Studi,1.78,237000000.0,4834,Color,...,760505847.0,7.9,English,33000,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,723.0,3054.0,886204,avatar|future|marine|native|paraplegic,2009.0
Pirates of the Caribbean: At World's End,40000.0,Johnny Depp,5000.0,Orlando Bloom,1000.0,Jack Davenport,2.35,300000000.0,48350,Color,...,309404152.0,7.1,English,0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,302.0,1238.0,471220,goddess|marriage ceremony|marriage proposal|pi...,2007.0
Spectre,11000.0,Christoph Waltz,393.0,Rory Kinnear,161.0,Stephanie Sigman,2.35,245000000.0,11700,Color,...,200074175.0,6.8,English,85000,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,602.0,994.0,275868,bomb|espionage|sequel|spy|terrorist,2015.0
The Dark Knight Rises,27000.0,Tom Hardy,23000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,2.35,250000000.0,106759,Color,...,448130642.0,8.5,English,164000,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,813.0,2701.0,1144337,deception|imprisonment|lawlessness|police offi...,2012.0
Star Wars: Episode VII - The Force Awakens,131.0,Doug Walker,12.0,Rob Walker,NaN,NaN,NaN,NaN,143,NaN,...,NaN,7.1,NaN,0,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,637.0,Eric Mabius,470.0,Daphne Zuniga,318.0,Crystal Lowe,NaN,NaN,2283,Color,...,NaN,7.7,English,84,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,1.0,6.0,629,fraud|postal worker|prison|theft|trial,2013.0
The Following,841.0,Natalie Zea,593.0,Valorie Curry,319.0,Sam Underwood,16.00,NaN,1753,Color,...,NaN,7.5,English,32000,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,43.0,359.0,73839,cult|fbi|hideout|prison escape|serial killer,NaN
A Plague So Pleasant,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,NaN,1400.0,0,Color,...,NaN,6.3,English,16,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,13.0,3.0,38,NaN,2013.0
Shanghai Calling,946.0,Alan Ruck,719.0,Daniel Henney,489.0,Eliza Coupe,2.35,NaN,2386,Color,...,10443.0,6.3,English,660,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,14.0,9.0,1255,NaN,2012.0
My Date with Drew,86.0,John August,23.0,Brian Herzlinger,16.0,Jon Gunn,1.85,1100.0,163,Color,...,85222.0,6.6,English,456,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,43.0,84.0,4285,actress name in title|crush|date|four word tit...,2004.0

In [11]:
df.loc['Spectre':'John Carter']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
John Carter,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [12]:
df2 = df.sort_index()

In [14]:
df2.loc['A':'C'] #이렇게 하면, A로 시작하는 거에서부터 C로 시작하는거 바로 이전의 것까지 잘 출력해준다.
#이런 식으로 , 특정 글자로 시작하는 이름으로 조회가 가능하다.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
But I'm a Cheerleader,Color,Jamie Babbit,99.0,85.0,91.0,849.0,Clea DuVall,1000.0,2199853.0,Comedy|Drama,...,186.0,English,USA,R,1200000.0,1999.0,1000.0,6.6,1.85,0
Butch Cassidy and the Sundance Kid,Color,George Roy Hill,130.0,110.0,131.0,399.0,Ted Cassidy,640.0,102308900.0,Biography|Crime|Drama|Western,...,309.0,English,USA,M,6000000.0,1969.0,566.0,8.1,2.35,0
Butterfly,Color,Matt Cimber,15.0,108.0,32.0,180.0,June Lockhart,602.0,NaN,Crime|Drama,...,18.0,English,USA,R,NaN,1982.0,427.0,4.5,1.85,76
Butterfly Girl,Color,Cary Bell,NaN,78.0,0.0,0.0,Stacie Evans,0.0,NaN,Documentary,...,1.0,English,USA,NaN,180000.0,2014.0,0.0,8.7,NaN,88
By the Sea,Color,Angelina Jolie Pitt,131.0,122.0,11000.0,188.0,Angelina Jolie Pitt,11000.0,531009.0,Drama|Romance,...,61.0,English,USA,R,10000000.0,2015.0,11000.0,5.3,2.35,0

In [19]:
df2.sort_index().loc['A':'B'] #a로 시작하는 놈만 조회한다.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Avengers: Age of Ultron,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
Awake,Color,Joby Harold,133.0,84.0,8.0,896.0,Fisher Stevens,4000.0,14373825.0,Crime|Mystery|Thriller,...,196.0,English,USA,R,8600000.0,2007.0,922.0,6.5,2.35,0
Away We Go,Color,Sam Mendes,217.0,98.0,0.0,374.0,Jim Gaffigan,925.0,9430988.0,Comedy|Drama|Romance,...,115.0,English,USA,R,17000000.0,2009.0,472.0,7.1,2.35,7000
Ayurveda: Art of Being,Color,Pan Nalin,15.0,102.0,95.0,NaN,NaN,NaN,16892.0,Documentary,...,12.0,English,India,NaN,300000.0,2001.0,NaN,7.6,1.85,379

In [24]:
#행정렬. 정렬기준은 컬럼의 값이다.
#director_name을 기준으로 오름차순/내림차순 행정렬을 한다.
df2.sort_values(by="director_name",ascending=False)

#문자를 기준으로 정렬을 할 때, 가장 먼저 나오는 것은 특수문자이고, 그 다음은 숫자-----대/소문자 순이다.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Bizarre,Color,Étienne Faure,9.0,98.0,77.0,0.0,Pierre Prieur,19.0,NaN,Drama|Musical|Romance,...,1.0,English,France,Unrated,500000.0,2015.0,0.0,4.3,1.78,114
Sur le seuil,Color,Éric Tessier,9.0,99.0,0.0,6.0,Michel Côté,50.0,NaN,Action|Drama|Horror|Thriller,...,5.0,French,Canada,NaN,3200000.0,2003.0,16.0,6.6,1.85,39
Mambo Italiano,Color,Émile Gaudreault,67.0,92.0,9.0,71.0,Luke Kirby,636.0,6239558.0,Comedy|Drama,...,67.0,English,Canada,R,5000000.0,2003.0,210.0,6.7,1.85,352
The Oxford Murders,Color,Álex de la Iglesia,71.0,104.0,275.0,102.0,Leonor Watling,439.0,3607.0,Crime|Mystery|Thriller,...,94.0,English,Spain,R,10000000.0,2008.0,161.0,6.1,2.35,0
Along the Roadside,Color,Zoran Lisinac,17.0,108.0,0.0,142.0,Brock Baker,431.0,NaN,Comedy|Music|Romance,...,2.0,English,USA,NaN,250000.0,2013.0,297.0,7.1,1.85,231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
War & Peace,Color,NaN,10.0,NaN,NaN,502.0,Tuppence Middleton,1000.0,NaN,Drama|History|Romance|War,...,44.0,English,UK,TV-14,NaN,NaN,888.0,8.2,16.00,11000
Wings,Color,NaN,19.0,30.0,NaN,424.0,Tim Daly,685.0,NaN,Comedy|Drama,...,56.0,English,USA,NaN,NaN,NaN,511.0,7.3,1.33,1000
Wolf Creek,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
Wuthering Heights,Color,NaN,9.0,142.0,NaN,427.0,Jack O'Connell,27000.0,NaN,Drama|Romance,...,33.0,English,UK,NaN,NaN,NaN,698.0,7.7,NaN,0
Yu-Gi-Oh! Duel Monsters,Color,NaN,6.0,24.0,NaN,NaN,NaN,0.0,NaN,Action|Adventure|Animation|Family|Fantasy,...,51.0,Japanese,Japan,NaN,NaN,NaN,NaN,7.0,NaN,124

In [27]:
df.sort_values('duration').head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
"Sabrina, the Teenage Witch",Color,NaN,20.0,22.0,NaN,271.0,Soleil Moon Frye,870.0,NaN,Comedy|Family|Fantasy,...,94.0,English,USA,TV-G,3000000.0,NaN,558.0,6.6,1.33,990
Anger Management,Color,NaN,26.0,22.0,NaN,676.0,Noureen DeWulf,883.0,NaN,Comedy|Romance,...,54.0,English,USA,NaN,NaN,NaN,701.0,6.7,16.00,0
It's Always Sunny in Philadelphia,Color,NaN,79.0,22.0,NaN,424.0,Kaitlin Olson,813.0,NaN,Comedy,...,151.0,English,USA,TV-MA,NaN,NaN,547.0,8.8,1.33,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0

In [32]:
df.sort_values(['duration','imdb_score'])[['duration','imdb_score']].head(20) #duration을 기준으로 먼저 정렬하고, 그 다음에 imdb_score을 기준으로 정렬한다.
#코드가 약간 복잡하다. 복습 철저!!

                                      duration  imdb_score
movie_title
The Touch                                  7.0         5.2
Shaun the Sheep                            7.0         8.3
Robot Chicken                             11.0         7.8
Vessel                                    14.0         6.2
Wal-Mart: The High Cost of Low Price      20.0         6.8
Sabrina, the Teenage Witch                22.0         6.6
Anger Management                          22.0         6.7
10,000 B.C.                               22.0         7.2
Rules of Engagement                       22.0         7.3
Strangers with Candy                      22.0         8.1
Home Movies                               22.0         8.2
It's Always Sunny in Philadelphia         22.0         8.8
Sonny with a Chance                       23.0         6.1
Star Wars: The Clone Wars                 23.0         7.9
Yu-Gi-Oh! Duel Monsters                   24.0         7.0
Lovesick                                  24.0         7.9
Bewitched                                 25.0         7.6
The Inbetweeners                          25.0         8.4
M*A*S*H                                   25.0         8.4
A Charlie Brown Christmas                 25.0         8.4

In [33]:
#일부는 오름차순을 하고 일부는 내림차순을 하기 위해서는.....

df.sort_values(['duration','imdb_score'],ascending=[True,False])[['duration','imdb_score']].head(20) #duration을 기준으로 먼저 정렬하고, 그 다음에 imdb_score을 기준으로 정렬한다.
#duration은 오름차순으로 하는 것이고 imdb_score는 내림차순으로 하겠다는 것이다.

#위의 코드를 설정을 하고, duration과 imdb_score의 ascending 차이를 잘 보자.

                                      duration  imdb_score
movie_title
Shaun the Sheep                            7.0         8.3
The Touch                                  7.0         5.2
Robot Chicken                             11.0         7.8
Vessel                                    14.0         6.2
Wal-Mart: The High Cost of Low Price      20.0         6.8
It's Always Sunny in Philadelphia         22.0         8.8
Home Movies                               22.0         8.2
Strangers with Candy                      22.0         8.1
Rules of Engagement                       22.0         7.3
10,000 B.C.                               22.0         7.2
Anger Management                          22.0         6.7
Sabrina, the Teenage Witch                22.0         6.6
Star Wars: The Clone Wars                 23.0         7.9
Sonny with a Chance                       23.0         6.1
Lovesick                                  24.0         7.9
Yu-Gi-Oh! Duel Monsters                   24.0         7.0
The Inbetweeners                          25.0         8.4
M*A*S*H                                   25.0         8.4
A Charlie Brown Christmas                 25.0         8.4
Bewitched                                 25.0         7.6

In [36]:
result = df.query('duration > 250').sort_values("duration")
#이런 식으로,쿼리문과 sort_values문을 합쳐서 쓸 수 있다. 
#한 코드에 여러개의 메소드를 적용시켜서, 코드의 길이를 훨씬 더 간단하게 만들 수 있다.

result

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Cleopatra,Color,Joseph L. Mankiewicz,72.0,251.0,311.0,595.0,Richard Burton,940.0,57750000.0,Biography|Drama|History|Romance,...,192.0,English,UK,Approved,31115000.0,1963.0,726.0,7.0,2.20,0
Once Upon a Time in America,Color,Sergio Leone,111.0,251.0,0.0,642.0,Burt Young,22000.0,5300000.0,Crime|Drama,...,495.0,English,Italy,R,30000000.0,1984.0,683.0,8.4,1.85,12000
Arn: The Knight Templar,Color,Peter Flinth,34.0,270.0,5.0,292.0,Michael Nyqvist,908.0,NaN,Action|Adventure|Drama|Romance|War,...,54.0,Swedish,Sweden,NaN,25000000.0,2007.0,690.0,6.6,2.35,0
Gettysburg,Color,Ron Maxwell,22.0,271.0,33.0,251.0,William Morgan Sheppard,854.0,10769960.0,Drama|History|War,...,256.0,English,USA,PG,25000000.0,1993.0,702.0,7.7,1.85,0
Gods and Generals,Color,Ron Maxwell,84.0,280.0,33.0,67.0,Bruce Boxleitner,789.0,12870569.0,Drama|History|War,...,497.0,English,USA,PG-13,56000000.0,2003.0,640.0,6.3,2.35,953
The Company,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
Apocalypse Now,Color,Francis Ford Coppola,261.0,289.0,0.0,3000.0,Marlon Brando,11000.0,78800000.0,Drama|War,...,983.0,English,USA,R,31500000.0,1979.0,10000.0,8.5,2.35,19000
Das Boot,Color,Wolfgang Petersen,96.0,293.0,249.0,18.0,Martin Semmelrogge,362.0,11433134.0,Adventure|Drama|Thriller|War,...,426.0,German,West Germany,R,14000000.0,1981.0,21.0,8.4,1.85,11000
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [41]:
df['color'].value_counts().sort_index() #이런 식으로 해도 괘안타.

Black and White     204
Color              4693
Name: color, dtype: int64

In [43]:
df['color'].value_counts().sort_values()

Black and White     204
Color              4693
Name: color, dtype: int64

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [4]:
import pandas as pd


flight = pd.read_csv("saved_data/flights.csv")

In [48]:
#사전에 정보들을 확인해본다.

flight.info()


#참고로, 월요일 화요일 등을 표시하는 것의 dtype이 int인 경우도 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [49]:
flight.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [50]:
flight.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|
|**idxmin()**|최소값 index|
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - 결측치(NA)를 포함해서 계산할지 여부 설정.
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

In [52]:
flight
#movie 보다는 data가 훨씬 더 많은 형태이다.

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [54]:
#최빈값을 구한다.
flight.mode()
#7월이 가장 많고, 20일이 가장 많고..... 뭐 이런 식이다.

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,7,20,1,DL,ATL,LAX,600,-3.0,59.0,337,2100,-9.0,0,0

In [56]:
#평균을 구하는데, 되는 경우가 있고 안되는 경우가 있다.
#이유를 자세히 생각하면 간단한데, mean 메소드는 숫자만 계산을 해야 하기 때문이다.
#그래서, 숫자만 계산하기 위해서는 numeric_only 같은 코드를 작성해야 한다.



#numeric_True을 쓰면 오류가 나지 않는다는 것을 알 수 있다.
flight.mean(numeric_only=True)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [58]:
flight.sum()
#문자들은 합치면 겁나 웃기게 나온닼ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

MONTH                                                   363858
DAY                                                     918447
WEEKDAY                                                 229690
AIRLINE      WNUAMQAAWNUAAAF9AAUAMQEVOOEVUAAAOONKMQWNWNUAOO...
ORG_AIR      LAXDENDFWDFWLAXIAHDFWSFOORDIAHDFWORDORDORDIAHD...
DEST_AIR     SLCIADVPSDCAMCISANMSYPHXSTLSJCDROJANMSPCMHINDD...
SCHED_DEP                                             81186009
DEP_DELAY                                             629705.0
AIR_TIME                                             6662879.0
DIST                                                  51057671
SCHED_ARR                                             90627495
ARR_DELAY                                             334057.0
DIVERTED                                                   137
CANCELLED                                                  881
dtype: object

In [60]:
flight.sum(numeric_only=True)#이렇게 하면 숫자만 출력할 수 있다.

#numeric_only 메소드는 매우 유용한 메소드이므로 이를 잘 파악하는 것이 좋다.

MONTH          363858.0
DAY            918447.0
WEEKDAY        229690.0
SCHED_DEP    81186009.0
DEP_DELAY      629705.0
AIR_TIME      6662879.0
DIST         51057671.0
SCHED_ARR    90627495.0
ARR_DELAY      334057.0
DIVERTED          137.0
CANCELLED         881.0
dtype: float64

In [62]:
#아니면, 이렇게 해도 된다.

flight[['DEP_DELAY','ARR_DELAY']].sum() #컬럼을 선택한 후에 집계한다.

DEP_DELAY    629705.0
ARR_DELAY    334057.0
dtype: float64

In [66]:
#다른 코드.

flight[['MONTH','DAY','WEEKDAY']].mode() #각 컬럼의 최빈값을 보는데, 보고 싶은 것만 보는 코드. 
flight.select_dtypes(include='object').mode() #자료형이 object인 것만 최빈값을 보고 싶을 때 보는 코드.

  AIRLINE ORG_AIR DEST_AIR
0      DL     ATL      LAX

In [6]:
#결측치가 있는 경우, 결과는 결측치이다.

flight.mean(numeric_only=True,skipna=False)
#결측치가 있는 경우 결과는 nan이다.

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY            NaN
AIR_TIME             NaN
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY            NaN
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)

- 밑의 것들은 예시들을 다 잘 파악하게 되면 저절로 이해가 갈 것이다.
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

In [10]:
#판다스가 제공하는 집계 메소드를 사용할 경우 함수명을 문자열로 지정.
flight["ARR_DELAY"].agg(["min","max"]) #agg을 써도 좋고 aggregate을 적어도 좋다.
#이런 식으로 여러개의 데이터를 한번에 사용이 가능하다.

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [14]:
#평균과 함께, 분산이나 표준편자를 같이 보는 것도 좋다.


#도착 딜레이 시간에 대한 여러가지 통계값을 알아 볼 수 있다.
flight['ARR_DELAY'].agg(["mean","std","var"])

mean       5.812315
std       38.411948
var     1475.477780
Name: ARR_DELAY, dtype: float64

In [16]:
flight.agg(["min","max"]).T

            min     max
MONTH         1      12
DAY           1      31
WEEKDAY       1       7
AIRLINE      AA      WN
ORG_AIR     ATL     SFO
DEST_AIR    ABE     YUM
SCHED_DEP     5    2359
DEP_DELAY -24.0  1194.0
AIR_TIME    8.0   577.0
DIST         67    4502
SCHED_ARR     1    2359
ARR_DELAY -60.0  1185.0
DIVERTED      0       1
CANCELLED     0       1

In [20]:
flight[['DEP_DELAY','ARR_DELAY']].agg(['mean','std']) #이런 식으로 통계값을 구할 수도 있다.

      DEP_DELAY  ARR_DELAY
mean  10.921192   5.812315
std   36.146210  38.411948

In [21]:
flight.select_dtypes(include='int64')

       MONTH  DAY  WEEKDAY  SCHED_DEP  DIST  SCHED_ARR  DIVERTED  CANCELLED
0          1    1        4       1625   590       1905         0          0
1          1    1        4        823  1452       1333         0          0
2          1    1        4       1305   641       1453         0          0
3          1    1        4       1555  1192       1935         0          0
4          1    1        4       1720  1363       2225         0          0
...      ...  ...      ...        ...   ...        ...       ...        ...
58487     12   31        4        515  1464       1045         0          0
58488     12   31        4       1910   414       2050         0          0
58489     12   31        4       1846   262       1956         0          0
58490     12   31        4        525   907        855         0          0
58491     12   31        4        859   522       1146         0          0

[58492 rows x 8 columns]

In [22]:
#수치형 --->float,int ====>number


#수치형만 보고 싶고, 그것들에 대한 여러 통계값들을 보고 싶을 때 쓰는 코드이다.

flight.select_dtypes(include='number').agg(['min','max','mean']).T

            min     max         mean
MONTH       1.0    12.0     6.220646
DAY         1.0    31.0    15.702096
WEEKDAY     1.0     7.0     3.926862
SCHED_DEP   5.0  2359.0  1387.984836
DEP_DELAY -24.0  1194.0    10.921192
AIR_TIME    8.0   577.0   115.928576
DIST       67.0  4502.0   872.900072
SCHED_ARR   1.0  2359.0  1549.399832
ARR_DELAY -60.0  1185.0     5.812315
DIVERTED    0.0     1.0     0.002342
CANCELLED   0.0     1.0     0.015062

In [24]:
#컬럼별로 다른 집계를 계산하고 싶은 경우
#{"컬럼명":"집계메소드이름"}

d = {
    "DEP_DELAY":"mean",
    "ARR_DELAY":["min","max"]
    
}


#이런 식으로 바로 넣는다.
flight.agg(d)

      DEP_DELAY  ARR_DELAY
mean  10.921192        NaN
min         NaN      -60.0
max         NaN     1185.0

In [28]:
#사용저 정의 집계 함수.
#컬럼의 최대값과 최소값 간의 차이를 계산한다.
##파라미터:집계하려는 series ->column(필수인 부분이다.)

def min_max_diff(column):
    """
    Series의 최소값과 최대값의 차이를 계산하는 집계함수.
    [parameter]
        column: pd.Series - 집계할 대상 Series
    [return]
        float: max - min 결과. 문자열컬럼일 경우 none을 반환.
        
    [raise]
        문자열컬럼일 경우 xxx exception 발생
    """
    if column.dtype == "object" or column.dtype == "str":
        return None
    return column.max() - column.min()

In [29]:
#출력.

min_max_diff(flight['ARR_DELAY'])

1245.0

In [30]:
flight['ARR_DELAY'].agg(min_max_diff)

1245.0

In [32]:
flight['ARR_DELAY'].agg(["min","max",min_max_diff]) #이런 식으로도 min_max_diff을 볼 수 있다.

min              -60.0
max             1185.0
min_max_diff    1245.0
Name: ARR_DELAY, dtype: float64

# Groupby
- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

In [33]:
#groupby는 ~별 ~의 평균을 구할 때 쓰인다.

flight['AIRLINE'].value_counts()

DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: AIRLINE, dtype: int64

In [34]:
flight['ARR_DELAY'].mean()

5.812315133799631

In [38]:
#sql에서의 groupby처럼 쓰는 것이다.

gb = flight.groupby("AIRLINE")
print(type(gb)) #DataFrameGroupBy로 리턴을 한다.

gb.groups #그냥 어떻게 묶였느냐 확인하는 것이다.
#자세히 보면, AA를 가지고 있는 놈끼리 묶고, AS를 가지고 있는 놈끼리 묶고 뭐 이런 식이다.

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

{'AA': [3, 6, 8, 15, 26, 32, 33, 36, 37, 41, 46, 47, 48, 55, 62, 66, 73, 75, 76, 87, 89, 97, 98, 107, 120, 122, 128, 131, 133, 146, 160, 171, 174, 178, 179, 188, 200, 201, 206, 221, 267, 270, 279, 305, 309, 311, 321, 330, 332, 342, 343, 347, 348, 380, 381, 382, 390, 393, 398, 402, 404, 405, 419, 427, 430, 431, 441, 449, 451, 455, 457, 466, 476, 491, 493, 497, 509, 514, 521, 527, 528, 537, 550, 551, 556, 560, 568, 572, 587, 589, 592, 612, 613, 618, 624, 626, 628, 634, 640, 652, ...], 'AS': [38, 198, 241, 277, 397, 450, 453, 500, 518, 591, 718, 737, 741, 808, 820, 867, 872, 1005, 1106, 1146, 1292, 1437, 1530, 1559, 1609, 1636, 1747, 1786, 1810, 1826, 1892, 1921, 2010, 2151, 2269, 2446, 2526, 2576, 2586, 2941, 3112, 3125, 3171, 3176, 3413, 3483, 3494, 3596, 3678, 3734, 3891, 3910, 3937, 3989, 4099, 4128, 4326, 4397, 4432, 4587, 4743, 4799, 4841, 4850, 4912, 4987, 5099, 5154, 5176, 5254, 5261, 5297, 5356, 5372, 5496, 5667, 5685, 5688, 5877, 5976, 6016, 6079, 6122, 6245, 6255, 6393, 6529, 6816, 6824, 6861, 6945, 6988, 7065, 7150, 7153, 7196, 7225, 7235, 7389, 7478, ...], 'B6': [123, 127, 239, 333, 548, 549, 696, 757, 945, 1175, 1361, 1453, 1547, 1561, 1564, 1650, 1670, 1691, 1800, 1939, 1998, 2251, 2253, 2256, 2330, 2385, 2434, 2607, 2650, 2692, 2721, 2781, 2800, 2884, 2936, 3060, 3306, 3648, 3793, 3983, 4347, 4552, 4578, 4639, 4779, 4820, 4885, 5036, 5125, 5131, 5205, 5211, 5228, 5260, 5351, 5483, 5577, 5585, 5777, 5956, 6126, 6151, 6418, 6901, 6952, 6977, 7792, 7798, 7853, 7877, 7904, 8030, 8082, 8091, 8118, 8145, 8177, 8364, 8507, 8541, 8543, 8558, 8732, 8828, 8912, 9093, 9173, 9275, 9371, 9389, 9447, 9482, 9574, 9686, 9896, 10066, 10254, 10416, 10600, 10727, ...], 'DL': [53, 57, 77, 79, 85, 90, 91, 101, 116, 117, 121, 129, 130, 137, 142, 152, 154, 155, 158, 159, 162, 165, 169, 172, 181, 182, 184, 185, 189, 190, 204, 207, 211, 215, 216, 222, 235, 238, 244, 245, 248, 249, 250, 253, 254, 258, 286, 289, 304, 307, 308, 310, 313, 323, 326, 328, 329, 336, 353, 354, 364, 373, 385, 395, 407, 411, 412, 413, 420, 433, 435, 439, 445, 456, 468, 481, 485, 490, 492, 508, 517, 526, 529, 531, 535, 543, 546, 559, 570, 579, 584, 588, 593, 602, 606, 607, 616, 617, 631, 642, ...], 'EV': [11, 13, 29, 40, 69, 100, 106, 118, 136, 143, 147, 164, 167, 170, 194, 196, 199, 205, 208, 219, 220, 225, 231, 233, 236, 251, 252, 261, 264, 265, 268, 282, 291, 293, 298, 312, 319, 337, 352, 362, 363, 369, 371, 383, 403, 414, 415, 424, 429, 437, 442, 443, 459, 460, 465, 470, 495, 499, 503, 505, 506, 522, 525, 530, 541, 567, 574, 580, 583, 632, 645, 654, 659, 677, 683, 689, 693, 695, 697, 714, 721, 723, 725, 730, 740, 742, 761, 764, 765, 768, 772, 776, 777, 778, 785, 787, 790, 791, 794, 799, ...], 'F9': [7, 93, 209, 232, 247, 290, 301, 386, 444, 483, 553, 563, 596, 598, 599, 605, 665, 685, 738, 844, 870, 948, 985, 1103, 1167, 1181, 1264, 1374, 1382, 1407, 1421, 1435, 1489, 1590, 1611, 1697, 1746, 1760, 1775, 1776, 1807, 1830, 1925, 1962, 2014, 2036, 2069, 2078, 2111, 2125, 2208, 2335, 2405, 2515, 2557, 2579, 2600, 2683, 2693, 2708, 2731, 2733, 2805, 2853, 2861, 3024, 3241, 3288, 3374, 3382, 3395, 3418, 3555, 3570, 3575, 3628, 3638, 3716, 3735, 3777, 3843, 3923, 3962, 3977, 4016, 4031, 4046, 4069, 4111, 4151, 4172, 4287, 4356, 4371, 4420, 4469, 4542, 4641, 4671, 4720, ...], 'HA': [582, 712, 878, 1053, 1269, 1345, 1544, 1864, 2316, 2644, 2681, 3002, 3165, 3227, 4359, 4414, 4926, 5187, 5281, 5320, 5363, 7267, 7372, 7744, 7808, 9360, 9761, 10163, 11119, 11626, 11743, 11809, 12275, 12752, 12780, 13466, 13755, 13956, 14566, 15064, 15316, 15959, 16501, 17632, 18467, 18720, 20461, 21558, 21761, 22454, 22584, 22592, 22618, 22858, 22892, 23177, 23374, 23773, 25763, 26127, 27745, 28864, 29608, 29762, 29875, 30610, 31164, 31505, 31530, 31675, 32030, 32037, 32987, 33311, 33747, 34884, 35959, 36068, 36319, 36425, 37119, 37128, 37664, 37983, 38440, 39475, 39482, 39625, 41664, 42165, 42485, 42846, 44068, 45330, 46713, 47772, 48279, 48722, 49667, 49782, ...], 'MQ': [2, 10, 18, 24, 50, 60, 71, 78, 81, 103, 105, 115, 125, 149, 180, 187, 210, 214, 228, 285, 296, 314, 320, 334, 335, 339, 341, 357, 458, 472, 484, 486, 488, 502, 516, 524, 534, 547, 581, 601, 622, 638, 639, 646, 661, 707, 711, 722, 727, 751, 769, 774, 802, 805, 830, 851, 854, 856, 865, 876, 915, 939, 955, 968, 977, 980, 1002, 1006, 1036, 1085, 1087, 1104, 1113, 1150, 1158, 1163, 1168, 1169, 1204, 1229, 1231, 1234, 1238, 1246, 1287, 1296, 1303, 1306, 1328, 1329, 1336, 1393, 1398, 1410, 1423, 1428, 1436, 1448, 1449, 1454, ...], 'NK': [17, 74, 95, 109, 166, 345, 358, 401, 434, 436, 446, 452, 482, 507, 510, 519, 533, 544, 610, 615, 620, 729, 735, 845, 858, 887, 898, 916, 970, 1017, 1095, 1097, 1153, 1188, 1208, 1257, 1342, 1392, 1536, 1579, 1580, 1657, 1732, 1761, 1863, 1943, 1948, 1990, 2026, 2068, 2071, 2118, 2124, 2149, 2177, 2196, 2214, 2244, 2299, 2334, 2378, 2424, 2425, 2447, 2523, 2537, 2592, 2613, 2639, 2643, 2740, 2749, 2752, 2764, 2765, 2770, 2786, 2875, 2886, 3018, 3061, 3065, 3072, 3151, 3153, 3174, 3248, 3315, 3381, 3435, 3566, 3598, 3674, 3696, 3701, 3708, 3840, 3877, 3894, 3934, ...], 'OO': [12, 16, 22, 25, 27, 34, 39, 42, 51, 52, 54, 58, 61, 63, 65, 82, 86, 99, 102, 113, 124, 126, 135, 138, 139, 151, 157, 161, 168, 175, 213, 223, 237, 240, 242, 255, 257, 278, 281, 284, 288, 297, 315, 317, 318, 322, 324, 327, 331, 359, 361, 366, 367, 370, 376, 378, 379, 387, 392, 418, 421, 447, 448, 540, 552, 554, 565, 569, 576, 590, 600, 603, 604, 609, 625, 629, 637, 649, 653, 658, 660, 663, 666, 671, 672, 673, 676, 679, 681, 682, 684, 691, 692, 708, 734, 754, 755, 762, 789, 793, ...], 'UA': [1, 5, 9, 14, 21, 44, 45, 67, 70, 72, 94, 108, 110, 134, 140, 141, 144, 145, 163, 177, 183, 192, 197, 246, 260, 262, 263, 266, 269, 273, 275, 283, 295, 325, 338, 340, 349, 368, 374, 375, 377, 389, 394, 396, 408, 423, 425, 438, 440, 462, 463, 469, 471, 474, 479, 501, 511, 512, 513, 520, 523, 536, 539, 542, 555, 557, 566, 573, 577, 586, 594, 595, 608, 621, 623, 630, 635, 636, 647, 650, 651, 667, 686, 687, 698, 699, 700, 701, 713, 717, 719, 745, 756, 773, 784, 801, 829, 836, 842, 843, ...], 'US': [31, 35, 49, 96, 104, 111, 112, 119, 148, 150, 153, 191, 202, 203, 224, 229, 355, 360, 372, 384, 391, 467, 473, 477, 478, 487, 494, 538, 545, 558, 561, 564, 575, 578, 619, 690, 715, 726, 728, 760, 795, 806, 881, 896, 901, 910, 954, 1028, 1033, 1068, 1134, 1135, 1143, 1155, 1164, 1201, 1210, 1245, 1274, 1288, 1290, 1291, 1335, 1355, 1377, 1399, 1406, 1446, 1459, 1462, 1470, 1471, 1476, 1481, 1493, 1499, 1503, 1552, 1554, 1565, 1589, 1593, 1603, 1661, 1680, 1716, 1731, 1733, 1735, 1743, 1749, 1754, 1755, 1758, 1767, 1773, 1790, 1821, 1904, 1905, ...], 'VX': [56, 227, 243, 417, 432, 464, 614, 641, 703, 759, 812, 825, 943, 1058, 1092, 1093, 1192, 1302, 1312, 1343, 1369, 1452, 1586, 1599, 1644, 1696, 1705, 1805, 1930, 1957, 2048, 2219, 2220, 2270, 2302, 2324, 2484, 2572, 2620, 2646, 2735, 2753, 2808, 2880, 2898, 2919, 3110, 3111, 3120, 3210, 3246, 3261, 3302, 3427, 3501, 3510, 3664, 3680, 3694, 3731, 3860, 3938, 3968, 4005, 4029, 4035, 4056, 4088, 4270, 4351, 4531, 4536, 4540, 4692, 4712, 4728, 4746, 4825, 4856, 4860, 4869, 4876, 4890, 4901, 4928, 4994, 5075, 5078, 5115, 5143, 5167, 5206, 5245, 5265, 5379, 5383, 5413, 5502, 5512, 5522, ...], 'WN': [0, 4, 19, 20, 23, 28, 30, 43, 59, 64, 68, 80, 83, 84, 88, 92, 114, 132, 156, 173, 176, 186, 193, 195, 212, 217, 218, 226, 230, 234, 256, 259, 271, 272, 274, 276, 280, 287, 292, 294, 299, 300, 302, 303, 306, 316, 344, 346, 350, 351, 356, 365, 388, 399, 400, 406, 409, 410, 416, 422, 426, 428, 454, 461, 475, 480, 489, 496, 498, 504, 515, 532, 562, 571, 585, 597, 611, 627, 633, 648, 657, 669, 670, 674, 678, 710, 720, 724, 731, 744, 747, 752, 753, 788, 797, 804, 807, 813, 815, 817, ...]}

In [40]:
#항공사별 도착지연시간의 평균?
#위의 문제는 문제를 차근차근 뜯어보면 그 코드를 간단히 작성할 수 있다.
flight.groupby("AIRLINE")["ARR_DELAY"].mean()

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [41]:
flight.groupby("AIRLINE").mean(numeric_only=True)

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [44]:
#항공사별 출발/도착 지연시간의 평균
###df.groupby()[집계할 컬럼].집계메소드

flight.groupby("AIRLINE")[["DEP_DELAY","ARR_DELAY"]].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

In [48]:
#월, 요일별 도착 지연 시간의 평균을 구하자. ----->groupby로 묶을 기준컬럼이 2개이상이다.
#뭐 그렇게 어려울 것은 없다.
result=flight.groupby(["MONTH","WEEKDAY"])['ARR_DELAY'].mean()
result

MONTH  WEEKDAY
1      1          12.202723
       2           3.615756
       3           2.478328
       4           6.715006
       5           6.082635
                    ...
12     3          10.780822
       4           3.693069
       5           1.754947
       6           4.962775
       7           8.437898
Name: ARR_DELAY, Length: 77, dtype: float64

In [52]:
#출발 공항별 출발지연시간의 최솟값,최댓값을 구하도록 하자.
#min,max 둘 다 구해야 하기 때문에, agg 함수를 쓴다.

#복습 철저!! 중요한 구문이다.
flight.groupby("ORG_AIR")["ARR_DELAY"].agg(['min','max',min_max_diff])

          min     max  min_max_diff
ORG_AIR
ATL     -57.0   692.0         749.0
DEN     -44.0  1185.0        1229.0
DFW     -45.0   839.0         884.0
IAH     -47.0   858.0         905.0
LAS     -52.0   732.0         784.0
LAX     -58.0   725.0         783.0
MSP     -53.0   474.0         527.0
ORD     -52.0   531.0         583.0
PHX     -60.0   551.0         611.0
SFO     -51.0   682.0         733.0

In [54]:
flight.groupby('ORG_AIR').agg({"DEP_DELAY":"mean","ARR_DELAY":"min"})
#이런 식으로도 값을 설정할 수 있다.

         DEP_DELAY  ARR_DELAY
ORG_AIR
ATL       9.267446      -57.0
DEN      11.052586      -44.0
DFW      11.593030      -45.0
IAH      11.821255      -47.0
LAS      10.792156      -52.0
LAX      10.961690      -58.0
MSP       7.206256      -53.0
ORD      14.760098      -52.0
PHX       8.502841      -60.0
SFO      11.028730      -51.0

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

In [57]:
#항공사별 (출발) 취소 건수

flight['CANCELLED'].value_counts() #결측치가 아닌 값의 개수
flight['CANCELLED'].sum() #1의 합계

881

In [58]:
# 취소 안된 건 건수

(flight['CANCELLED']==0).sum()

57611

In [61]:
#항공사별 (출발) 취소 건수
#코드를 짜는 법을 잘 보자. 익숙해지면 쉽다.
flight.groupby("AIRLINE")["CANCELLED"].sum()

AIRLINE
AA    154
AS      0
B6      1
DL     38
EV    146
F9     10
HA      0
MQ    152
NK     25
OO    142
UA     93
US     21
VX      6
WN     93
Name: CANCELLED, dtype: int64

In [68]:
#다른 조건은 같은데, 취소 건수가 100보다 큰 것을 조회한다.
#복습 철저!!!

result = flight.groupby("AIRLINE")["CANCELLED"].sum()
result2 = result[result>=100]#이런 식으로 넣으면 된다.
#최종적으로 result2를 적으면 된다.

result2

AIRLINE
AA    154
EV    146
MQ    152
OO    142
Name: CANCELLED, dtype: int64

In [73]:
#여러가지 코드

flight.select_dtypes(include="int64").agg("count") #df.agg()
flight['ARR_DELAY'].agg("count") #Series.agg()
flight.groupby('AIRLINE').agg("count")#DataFrameGroupBy.agg()
flight.groupby("AIRLINE")["ARR_DELAY"].agg("count")

AIRLINE
AA     8720
AS      768
B6      540
DL    10539
EV     5697
F9     1305
HA      111
MQ     3314
NK     1486
OO     6425
UA     7680
US     1593
VX      986
WN     8310
Name: ARR_DELAY, dtype: int64

In [83]:
#사용자 정의 집계함수를 agg() 이용해서 호출

def iqr(src:"집계대상",q1=0.25,q3=0.75):
    """
    iqr(InterQuartuleRange) ------->4분위수에서 3분위 - 1분위를 한 값이다.
    분위수 간의 차이이다.
    
    가운데 값들의 범위를 체크하는 것을 하기도 하고,
    극단적으로 큰 값이나 극단적으로 작은 값을 걸러내기 위해 쓰기도 한다.
    
    
    """
    print(type(src))
    qt1,qt3 = src.quantile(q = [q1,q3])
    return qt3-qt1

In [77]:
#dataframe.agg(사용자정의함수)
#dataframe의 각 컬럼들을 사용자 정의 함수에 전달하다.
#그렇기 때문에 데이터 타입에 관한 것들이 출력이 된 것이다. 내가 위에서 type을 출력해 달라고 했으니까!!


flight.select_dtypes(include="int64").agg(iqr)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

MONTH        None
DAY          None
WEEKDAY      None
SCHED_DEP    None
DIST         None
SCHED_ARR    None
DIVERTED     None
CANCELLED    None
dtype: object

In [79]:
#SeriesGroupby.agg(사용자정의):Series(컬럼)을 group별로 하나씩 사용자 정의 함수에 전달한다.
flight.groupby("AIRLINE")["ARR_DELAY"].agg(iqr)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

AIRLINE
AA    None
AS    None
B6    None
DL    None
EV    None
F9    None
HA    None
MQ    None
NK    None
OO    None
UA    None
US    None
VX    None
WN    None
Name: ARR_DELAY, dtype: object

In [85]:
#각 컬럼의 값을 group별로 하나씩 사용자 정의 함수에 전달한다.
#위의 iqr에 대한 정의를 잘 보면, 이게 어떤 식으로 전개가되는지에 대한 이유를 잘 알 수 있다!!
flight.groupby('AIRLINE')[['DEP_DELAY','ARR_DELAY']].agg(iqr)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

         DEP_DELAY  ARR_DELAY
AIRLINE
AA           14.00      23.00
AS            8.00      18.00
B6           20.75      28.25
DL            8.00      18.00
EV           12.00      21.00
F9           20.00      27.00
HA            6.25      21.00
MQ           16.00      25.00
NK           27.00      34.00
OO           13.00      22.00
UA           18.00      25.00
US            7.00      19.00
VX            9.00      19.00
WN           18.00      23.00

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# TODO

In [ ]:
# 1. data/diamonds.csv 를 읽어 DataFrame 생성

# 2. 1에서 생성한 DataFrame의 정보 조회
#     - 배열의 shape조회
#     - DataFrame에 대한 정보조회
#     - 상/하위 5개 행 조회
#     - 결측치 확인

# 3. carat, price, depth의 합계, 평균, 최대, 최소 조회

# 4. price는 최대, 최소, color는 고유값의 개수를 조회

# 5. cut의 고유값별 개수를 조회

# 6. cut별 가격 평균 조회

# 7. cut별 가격 평균중 4000이상만 조회

# 8. clarity별 carat 평균과 표준편차 조회

# 9. cut과 color 별로 가격은 평균을 carat은 최대값을 조회 

# 10. 9번 문제의 결과에서 가격의 평균이 5000이상이고 carat의 최대값이 3이상인 결과만 조회